services:
  gitbucket:
    build:
      context: ./dockerfiles/gitbucket
      dockerfile: Dockerfile
    ports:
      - 8081:8080
    environment:
      - GITBUCKET_DB_URL=jdbc:postgresql://db-gitbucket/gitbucket
      - GITBUCKET_DB_USER=test
      - GITBUCKET_DB_PASSWORD=test
    volumes:
      - ${PWD}/volumes/gitbucket/data:/root/.gitbucket
    networks:
      - ci-network

  db-gitbucket:
    image: postgres:17.4
    volumes:
      - ${PWD}/volumes/db_gitbucket/data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: gitbucket

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || exit 1",
        ]
      interval: 30s
      timeout: 5s
      retries: 6
      start_period: 30s
    networks:
      - ci-network

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    ports:
      - 8082:8080
    volumes:
      - ${PWD}/volumes/jenkins/data:/var/jenkins_home
    networks:
      - ci-network

  redmine:
    build:
      context: ./dockerfiles/redmine
      dockerfile: Dockerfile
    ports:
      - 8083:3000
    depends_on:
      db_redmine:
        condition: service_healthy
    environment:
      REDMINE_DB_MYSQL: db_redmine
      REDMINE_DB_USERNAME: ${DB_USER}
      REDMINE_DB_PASSWORD: ${DB_PASSWORD}
      REDMINE_DB_DATABASE: ${DB_NAME}
      REDMINE_SECRET_KEY_BASE: supersecretkey
    volumes:
      - ${PWD}/volumes/redmine/data:/usr/src/redmine/files
    networks:
      - ci-network

  db_redmine:
    image: mysql:9.2.0
    volumes:
      - ${PWD}/volumes/db_redmine/data:/var/lib/mysql
    environment:
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_RANDOM_ROOT_PASSWORD: yes
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "$DB_USER",
          "-p$DB_PASSWORD",
        ]
      interval: 30s
      timeout: 5s
      retries: 6
      start_period: 30s
    networks:
      - ci-network

networks:
  ci-network:
